body {
    background-color: brown;
}

h1 {
    color: whitesmoke;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: right;
    
}

h4 {

}